/* General styles */
:root {
  --gray: #ebeae4;
}

*,
*::before,
*::after {
  font-family: Raleway, sans-serif;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  margin: 0;
}

header {
  display: flex;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
